.message-adder {
	height: min-content;
}

.message-adder .name-input-area {
	margin: 10px 0;
}

.message-adder .bottom-row {
	display: grid;
	grid-template-columns: 1fr auto;
}

.message-adder .word-count {
	padding: 15px;
}

.message-adder .send-button {
	margin: 5px 0;
}
