.message-list {
	width: 30vw;
	max-width: 400px;
}

.message-list .nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.message-list .nav div {
	font-weight: 800;
	margin: auto;
}

@media only screen and (max-width: 750px) {
	.message-list {
		width: 100%;
		max-width: 100%;
	}
}
