.landing.page {
	padding: 30px;
}

.landing.page .name-input-area {
	margin: 10px 0;
}

.landing.page .word-count {
	padding: 20px 0 0 0;
}

.landing.page .send-button {
	position: absolute;
	right: 20px;
	bottom: 30px;
}
