@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;800&display=swap');

:root {
	--bgd: #363062;
	--bgl: #4d4c7d;
	--fgd: #827397;
	--fgl: #e9d5da;
}

body {
	margin: 0;
	font-family: 'Syne', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--bgd);
	color: var(--fgl);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	font-family: 'Syne', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.center {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

.rounded {
	border-radius: 30px;
}

.text-bubble {
	border-radius: 30px 30px 30px 5px;
	color: var(--bgd);
	background-color: var(--fgd);
	padding: 20px;
}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

input {
	font-size: 1em;
	color: var(--fgl);
	background-color: var(--bgl);
	border: none;
	resize: none;
	padding: 5px 10px;
}

input::placeholder {
	color: var(--fgd);
}

textarea {
	border-radius: 30px 30px 5px 30px;
	display: inline;
	font-size: 1.3em;
	color: var(--fgl);
	background-color: var(--bgl);
	border: none;
	resize: none;
	padding: 20px;
	width: calc(80vw - 40px);
	max-width: 400px;
}

textarea::placeholder {
	color: var(--fgd);
}

button {
	font-size: 1em;
	color: var(--fgl);
	background-color: rgba(0, 0, 0, 0);
	border: none;
	padding: 15px;
	transition: 0.4s;
}

button:disabled {
	color: var(--fgd);
}

button:hover {
	background-color: var(--bgl);
}
